# Created by https://www.gitignore.io/api/swift,objective-c,xcode,appcode

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
**.DS_Store
.travis.yml
.ruby-version

## Obj-C/Swift specific
*.hmap
*.ipa
.build
.swiftpm

# CocoaPods
Pods/

# Carthage
Carthage
**/Carthage/**

## Swift package
**/LinuxMain.swift
**/XCTestManifests.swift
Swiftline.xcodeproj
