sudo: false
language: objective-c
osx_image: xcode8

install:
- gem install xcpretty --no-rdoc --no-ri --no-document --quiet


script:
- make test
- pod lib lint --quick

after_success:
- bash <(curl -s https://codecov.io/bash)
